{% extends "nav.html" %}
{% block content %}
{% load static %}

<br><br>
 <div id="contact" class="contact-area">
    <div class="contact-inner area-padding">
      <div class="contact-overly"></div>
      <div class="container ">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <h2>Login</h2>
            </div>
          </div>
        </div>
        <div class="row">


          <div class="col-md-6 col-sm-6 col-xs-12">
            
              <form  method="post" role="form">
                {% csrf_token %}
                
                  <div class="form-group">
                    <input type="text" name="username" class="form-control"  placeholder="User Name"  />
                    <div></div>
                  </div>
                
                <div class="form-group">
                  <input type="password" name="password" class="form-control"  placeholder="Password"  />
                  <div></div>
                </div>
               
                <div class="text-center"><button type="submit" style="background-color: #1ABC9C;
                color:white;padding:20px;font-size:18px;border:2px solid white;
                border-radius: 20px;">Login</button></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% for i in messages %}
  <script>
      alert("{{i}}")
  </script>
  {% endfor %}
{% endblock %}